<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2 class="border-bottom">会員一覧</h2>
      <% if @customers.present? %>
        <table class="table table-striped table-bordered table-hover table-sm">
          <thead>
            <tr>
              <th>会員ID</th>
              <th>氏名（フルネーム）</th>
              <th>メールアドレス</th>
              <th>ステータス</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @customers.each do |customer| %>
              <tr>
                <td><%= customer.id %></td>
                <td><%= customer.full_name %></td>
                <td><%= customer.email %></td>
                <% if customer.is_deleted == false %>
                  <td>有効</td>
                <% else %>
                  <td>退会済</td>
                <% end %>
                <td><%= link_to "詳細", admin_customer_path(customer), class: "btn btn-primary" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @customers %>
      <% else %>
        <p>会員情報がありません</p>
      <% end %>
    </div>
  </div>
</div>