<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2 class="border-bottom">配送先編集</h2>
      <%= form_with model: @address, url: address_path, method: :patch, local:true do |f| %>
        <div id="error_explanation">
          <% if @address.errors.any? %>
            <h3><%= @address.errors.count %>errors prohibited this obj from being saved:</h3>
            <ul>
              <% @address.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
        <div class="form-group">
          <%= f.label "郵便番号(ハイフンなし）" %>
          <%= f.text_field :postal_code, placeholder: "000000", class: "w-50" %>
        </div>
        <div class="form-group">
          <%= f.label "住所" %>
          <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", class: "w-50" %>
        </div>
        <div class="form-group">
          <%= f.label "宛名" %>
          <%= f.text_field :name, placeholder: "令和道子", class: "w-50" %>
          <div class="float-right">
            <%= f.submit "変更内容を保存", class: 'btn btn-success' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>