<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'layouts/genre_sidebar', genres: @genres  %>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1 class="border-bottom">
        <% if params[:genre_id] %>
          <%= @genre.name %>
        <% end %>
      </h1>
      <h2 class="border-bottom">商品一覧</h2>
      <% if @items.present? %>
        <table class="table table-striped table-bordered table-hover table-sm">
          <thead>
            <tr>
              <th>商品画像</th>
              <th>商品名</th>
              <th>税込価格</th>
            </tr>
          </thead>
          <tbody>
            <% @items.each do |item| %>
              <tr>
                <td><%= image_tag item.get_image, size: '50x50' %></td>
                <td><%= link_to item.name, item_path(item.id) %></td>
                <td><%= item.add_tax_price %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>商品情報がありません</p>
      <% end %>
    </div>
  </div>
</div>